.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 4rem auto;
}
.user-card__data {
  display: flex;
  align-items: center;
}
.user-card__img {
  width: 60px;
  height: 60px;
  border: 2px solid #b4b4b4;
  border-radius: 50%;
}
.user-card__info {
  margin-left: 2rem;
}
.user-card__info p {
  font-size: 13px;
  color: #b4b4b4;
  font-weight: 700;
}
.user-card__info .user-card__name {
  font-size: 18px;
  color: #797979;
  margin-bottom: 5px;
}
.user-card__Follow,
.user-card__Following {
  padding: 0.6rem 1.7rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  background-color: #ee6b8e;
  cursor: pointer;
}
.user-card__Following {
  background-color: white;
  color: #797979;
}
